/* 
	CSS Reset 
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body 
{
	line-height:1.5;
}
blockquote:before, blockquote:after, q:before, q:after 
{
	content:"";
}
blockquote, q 
{
	quotes:"" "";
}
a img 
{
	border:none;
}


/*
	Global Layout
*/

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand_Book-webfont.eot');
	src: local('☺'), url('../fonts/Quicksand_Book-webfont.woff') format('woff'), url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'), url('../fonts/Quicksand_Book-webfont.svg#webfontQvsv8Mp8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QuicksandBold';
	src: url('../fonts/Quicksand_Bold-webfont.eot');
	src: local('☺'), url('../fonts/Quicksand_Bold-webfont.woff') format('woff'), url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'), url('../fonts/Quicksand_Bold-webfont.svg#webfontA4fKbYnS') format('svg');
	font-weight: normal;
	font-style: normal;
}

html
{
	overflow-x: hidden;
}

body
{
	background: #000000;
	font-size: 13px;
	font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
	padding: 20px 0 20px 20px;
	margin: 0;
	color: #959595;
}



img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

h1
{
	font-size: 36px;
	color: #fff;
	font-family: Quicksand;
	text-transform: uppercase;
	letter-spacing: -2px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);zoom:1;
}

h2
{
	font-size: 24px;
	font-weight: normal;
	color: #fff;
}

h3
{
	font-size: 20px;
	font-weight: normal;
	color: #fff;
}

h4
{
	font-size: 18px;
	font-weight: normal;
	color: #fff;
}

h5
{
	font-size: 16px;
	font-weight: normal;
	color: #fff;
}

.clear
{
	clear: both;
}

img.mid_align
{ 
	vertical-align: middle;
	margin-right: 5px;
	border: 0;
}

label.error
{
	font-size: 11px;
	color: #ff0000;
	font-style: italic;
	display: block;
}

.with_bg
{
	background: #f9f9f9;
	border: 1px solid #ebebeb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.dropcap1
{
	display: block;
	float: left;
	margin: 0 8px 0 0;
	font-size: 40px;
	line-height: 40px;
}

blockquote
{
	padding-left: 60px;
	width: 90%;
	background: transparent url("../images/quote_bg.png") no-repeat top left;
	min-height: 50px;
	margin: 0 0 10px 0;
}
a
{
	color: #525252;
	text-decoration: none;
}

a:hover
{
	color: #c40214;
	text-decoration: none;
}

a:active
{
	color: #cccccc;
	text-decoration: none;
}

code {
	display: block;
	font: mono;
        font-size:14px;
	overflow: auto;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}




blockquote h2
{
	font-weight: normal;
	font-size: 20px;
}

blockquote h3
{
	font-weight: normal;
	font-size: 18px;
}

#respond
{
        width: 100%;
	float: left;
	margin: 0 0 0px 0;
	padding-bottom: 0px;
	border-bottom: 1px solid #333;
}

#wrapper
{
	width: 100%;
	min-height: 680px;
}

#menu_wrapper
{
	float: left;
	width: 220px;
	margin: 10px 0 0 0;
}

.nav
{
	list-style: none;
	display: block;
	margin: 30px 0 0 0;
}

.nav li
{
	display: block;
	line-height: 2.2em;
}

.nav li a
{
	font-family: Quicksand;
	font-size: 24px;
	text-transform: uppercase;
	color: #959595;
	letter-spacing: -2px;
	position: relative;
}

.nav li ul
{
	display: none;
	padding: 5px 0 10px 10px;
	margin: 5px 0 10px 5px;
	list-style: none;
}

.nav li ul a
{
	font-size: 18px;
	letter-spacing: -1px;
}

#footer
{
	display: none;
	margin: 30px 0 0 0;
	padding: 30px 0 0 0;
}

#copyright
{
	margin-top: 15px;
	padding-top: 15px;
	width: 80%;
	font-size: 11px;
	color: #959595;
}

#content_wrapper
{
	width: 74%;
	float: left;
}

#page_content_wrapper
{	
	top: 50%;
	left: 50%;
	padding: 0px 0px 0px 0px;
}

#content_wrapper .inner
{
	height: 600px;
	overflow: hidden;
}

#page_content_wrapper .inner
{
	margin: 0px 0 0 0;
}

#view_slideshow
{
	position: absolute;
	background: #000000;
	padding: 5px;
	font-size: 11px;
	top: 35px;
	right: 20px;
  	z-index: 3;
  	cursor: pointer;
}

#move_next
{
	position: absolute;
	width: 100px;
	height: 300px;
	top: 140px;
	right: 0;
	z-index: 2;
	background: #fff;
	display: block;
	/* for IE */
  	filter:alpha(opacity=0);
  	/* CSS3 standard */
  	opacity:0;
}

#move_next img
{
	position: relative;
	top: 120px;
	left: -20px;
	/* for IE */
  	filter:alpha(opacity=0);
  	/* CSS3 standard */
  	opacity:0;
}

#move_prev
{
	position: absolute;
	width: 100px;
	height: 300px;
	top: 140px;
	left: 240px;
	z-index: 2;
	background: #fff;
	display: block;
	/* for IE */
  	filter:alpha(opacity=0);
  	/* CSS3 standard */
  	opacity:0;
}

#move_prev img
{
	position: relative;
	top: 120px;
	left: 20px;
	/* for IE */
  	filter:alpha(opacity=0);
  	/* CSS3 standard */
  	opacity:0;
}

#content_wrapper .card
{
	float: left;
	height: 600px;
	overflow: hidden;
	margin: 7px 7px 7px 0px;
}

#content_wrapper .card .title
{
	display: block;
	position: relative;
	top: 0;
	left: 0px;
        right: 0px;
	width: 90%;
	padding: 0px;
	background: #000;
	font-size: 11px;
	/* for IE */
  	filter:alpha(opacity=0);
  	/* CSS3 standard */
  	opacity:0;
}

#content_wrapper .card .title h2
{
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

#content_wrapper .card img
{
	height: 580px;
}

.post_wrapper
{
	
	width: 100%;
	margin: 0 0 0 0;
	
}

.post_wrapper.single
{
	width: 100%;
	margin: 0;
}

.post_header
{
	width: 100%;
	float: left;
	margin-bottom: 0px;
}

.post_header a
{
	color: #999;
}

.post_header h2 a
{
	color: #fff;
	font-size: 20px;
}

.post_header a:hover
{
	color: #C40214;
}

.post_header .left
{
	width: 100%;
	float: left;
	text-align: center;
}

.post_header .left .post_detail
{
	font-size: 11px;
	word-spacing: 1px;
}

.post_header .post_comment
{
	float: right;
	margin: 0px 0 0 0;
	font-size: 11px;
	padding: 5px 15px 5px 15px;
	text-align: center;
	text-align: left;
}

#about_the_author
{
	width: 100%;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
}

#about_the_author .header
{
	color: #fff;
	border-bottom: 1px solid #333;
}

#about_the_author .header span
{
	display: block;
	padding: 10px 0 10px 20px;
	font-size: 14px;
}

#about_the_author .thumb
{
	width: 80px;
	float: left;
	margin: 20px 0 0 20px;
}

#about_the_author .thumb img
{
	padding: 3px;
	border: 1px solid #333;
	width: 50px;
}

#about_the_author .description
{
	width: 430px;
	float: left;
	padding: 20px 0 20px 0;	
}

.comment .left img.avatar
{
	padding: 3px;
	border: 1px solid #333;
	width: 50px;

}

.comment
{
	width: 100%;
	margin-bottom: 0px;
	margin-left: 25px;
	padding-bottom: 5px;
	float: left;
}

.comment .left
{
	width: 80px;
	float: left;
}

.comment .right
{
	width: 65%;
	float: left;
}

ul.children
{
	list-style: none;
}

ul.children .comment
{
	width: 70%;
	margin: -30px 0 20px 80px;
	padding: 10px 0 10px 15px;
	float: left;
	border-left: 1px solid #333;
	border-bottom: 0;
}

ul.children ul.children .comment 
{
	width: 40%;
	margin: 0 0 40px 170px;
	padding: 10px 0 10px 15px;
	float: left;
	border-left: 1px solid #333;
	border-bottom: 0;
}

.arrow_list, .check_list, .star_list
{
	margin-top: 15px;
}

.arrow_list li
{
	margin: 5px 0 0 20px;
	list-style-image: url("../images/arrow_li.png");
}

.one_half
{
	float: left;
	width: 47%;
}

.one_half.last
{
	position: relative;
	left: 0%;
}

.one_third
{
	width: 30%;
	float: left;
	min-height: 50px;
	margin-right: 3%;
}

.one_third.last
{
	margin-right: 0;
}

.two_third
{
	float: left;
	width: 64%;
	margin-right: 3%;
}

.one_fourth
{
	width: 22.5%;
	float: left;
	margin-right: 3%;
	margin-bottom: 2%;
}

.one_fourth.last
{
	margin-right: 0;
}

.one_fifth
{
	width: 14%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_fifth.last
{
	margin-right: 0;
}

.one_sixth
{
	width: 11%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_sixth.last
{
	margin-right: 0;
}

.cufon.space
{
	margin-bottom: 15px;
}