
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*================================
  GENERAL STYLES
==================================*/
@import url(http://fonts.googleapis.com/css?family=Montserrat); /* FREE GOOGLE FONT */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000;
  color: #797979;
  border-bottom:1px solid rgba(234, 46, 46, 0.34);
}

    section h2 {
        color:#ea2e2e;
    }
.pad-bottom {
    padding-bottom: 90px;
}


/*================================
  SLIDE SECTION STYLES
==================================*/

#slideshow-div {
    background-color:#000;
}

  #slideshow-div      .carousel-caption h1 {
            text-align: center;
            font-size: 15px;
            font-weight: 900;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.80);
            max-width: 250px;
            padding: 15px 25px;
        }

    #slideshow-div    .carousel-caption h2 {
            text-align: center;
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.80);
            max-width: 200px;
            padding: 15px 25px;
        }
#slideshow-div img {
    max-height:700px;
    width:100%;
}
        /* SLIDESHOW MEDIA QUERIES TO HEIDE ANIMATED HEADINGS WHEN SCREEN IS SMALL*/
        @media (max-width:768px) and (min-width:100px) {
           #slideshow-div .carousel-caption h1,#slideshow-div .carousel-caption h2 {
                display: none;
            }
        }
@media screen and (min-width: 768px) {
   #slideshow-div  .carousel-caption {
        padding-bottom: 150px;
    }
}

/*================================
  FEATURE SECTION STYLES
==================================*/
#features .media-body {
    padding-left: 20px;
}

#features .feature-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

#features .icon-wrapper {
    font-size: 70px;
    color: #8E8E8E;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
#footer-sec {
    background-color:#000;
    padding-bottom:30px;
    padding-top:30px;
    color: #DFD1D1;
}
.social-links a,.social-links a:hover{
    color:#fff;
    text-decoration:none;
}

.social-links a i {
    background-color:#000;
    padding:15px 20px;
    margin:5px;
}

.set-foot {
    text-align:right;
    padding-right:50px;
}

/*================================
    COPY SECTION STYLES
 ============================  */
footer {
    padding: 20px;
    font-size: 16px;
     background-color: #000;
  color: #797979;
}

    footer a, footer a:hover, footer a:focus {
        color: #797979;
        text-decoration: none;
    }
