
.imageSection {
  margin-bottom: 0px;
}

.imageSection:after {
  content: "";
  display: table;
  clear: both;
  
}

.imageSection .imageWrap {
  
}

.imageSection .imageWrap .targetImage {
  
}
/* line 147, ../sass/app.sass */
.imageSection .colors {
  margin-top: 0px;
  width: 450px;
  float: left;
  padding:0px;
  
}
/* line 151, ../sass/app.sass */
.imageSection .colors .function {
  clear: left;
  margin-bottom: 0px;
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.imageSection .colors .function:after {
  display: table;
  clear: both;
}
/* line 155, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch {
  width: 40px;
  height: 20px;
  margin-right: 2px;
  background: #dddddd;
  float: left;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 162, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1.8, 1.8);
  -moz-transform: scale(1.8, 1.8);
  -ms-transform: scale(1.8, 1.8);
  -o-transform: scale(1.8, 1.8);
  transform: scale(1.8, 1.8);
  -webkit-box-shadow: 0 1px 10px black;
  -moz-box-shadow: 0 1px 10px black;
  box-shadow: 0 1px 10px black;
}
/* line 166, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch:first-child {
  
}
/* line 168, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch:last-child {
  
}



