@font-face {
  font-family: Colaborate;
  src: url('www.ezequielm.com/fonts/ColabReg.otf');
}
@font-face { 
  font-family: ColaborateBold; 
  src: url('www.ezequielm.com/fonts/ColabBol.otf'); 
}

@font-face { 
  font-family: ColaborateThin; 
  src: url('www.ezequielm.com/fonts/ColabThi.otf'); 
}

@font-face { 
  font-family: ColaborateMedium; 
  src: url('www.ezequielm.com/fonts/ColabMed.otf'); 
}